@{
    ViewBag.Title = "Adidas";
    
}

@*@section featured is used to display text below the navigation menu.*@
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}





